* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: auto;
}

.header {
  background: #1f2937;
  display: flex;
  flex-direction: column;
}

.header-links {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 5px 0;
  max-width: 1200px;
  font-size: 18px;
  color: #e5e7eb;
}

.header-links .logo {
  border-radius: 50%;
  height: 100%;
  flex-shrink: 0;
}

.header-links .logo-text {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
  white-space: nowrap;
}

.header-links nav {
  margin-left: auto;
}

.header-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 28px;
}

.hero {
  padding: 48px 0;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.hero > * {
  flex: 1;
  flex-basis: 400px;
  max-width: 100%;
}

.hero .main {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.hero .secondary {
  font-size: 18px;
  color: #e5e7eb;
}

.hero button {
  margin-top: 8px;
  padding: 4px 28px;
  background: #3882f6;
  color: #f9faf8;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

.hero img {
  width: 50%;
  height: auto;
  flex-shrink: 0;
}

.info {
  color: #1f2937;
}

.info .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info .title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #1f2937;
  margin: 32px 0;
}

.showcase {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 64px;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  padding-bottom: 120px;
}

.showcase li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 164px;
}

.showcase .image-container {
  border: 4px solid #3882f6;
  height: 164px;
  width: 164px;
  border-radius: 16px;
  flex-shrink: 0;
}

.quote {
  background: #e5e7eb;
  padding: 128px 0;
  color: #1f2937;
}

.quote .container {
  width: 800px;
  position: relative;
}

.quote .text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote .author {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  right: 32px;
}

.call-to-action {
  padding: 96px 0;
}

.call-to-action .container {
  background: #3882f6;
  border-radius: 8px;
  padding: 48px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.call-to-action .main {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.call-to-action .secondary {
  font-size: 18px;
  color: #e5e7eb;
}

.call-to-action button {
  color: #f9faf8;
  font-weight: bold;
  font-size: 18px;
  background: #3882f6;
  border: 2px solid #f9faf8;
  border-radius: 6px;
  padding: 4px 32px;
}
